<p>
	We're sorry, but there was a problem confirming your email address.
	Please click the button below to try again, and if the problem persists
	contact support.
</p>
<p>
	<a href="#" class="btn" id="btn-resend-confirmation">Resend confirmation email</a>
</p>