<div class="content">
	<div class="container">
		<div class="wrapper">
			<h1>Forgot Password</h1>
			<p>
				Please enter the email address you used to sign up, and we will send further instructions.
			</p>
			<form role="form" id="form-forgot-password">
				<div class="form-group">
					<label for="email" class="form-label">Email</label>
					<input name="email" type="email" class="form-control" id="email">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
</div>